doctype html
html
	include header
	body
		div.container
			div.mars.text-center
				h1.lead.name
					|The weather on Mars from&nbsp;
					span.min !{format.temp(current.minTemp)}C&nbsp;
					|to&nbsp;
					span.max !{format.temp(current.maxTemp)}C&nbsp;
					|on !{format.shortDate(current.date)}
			div.text-center
				div.btn-group
					button#btnChart.btn.btn-default.btn-xs
						span.glyphicon.glyphicon-stats
					button#btnTable.btn.btn-default.btn-xs
						span.glyphicon.glyphicon-list
			canvas#chart(height="420", class="center-block")
			table#table.table.table-striped.hidden
				thead
					tr
						th Terrestrial Date
						th Min Temp
						th Max Temp
						th Atmospheric Pressure
						th Atmospheric Opacity
						th Season
						th Sunrise
						th Sunset
				tbody
					each item in source
						tr
							td!= format.isoDate(item.terrestrial_date)
							td!= format.temp(item.min_temp)
							td!= format.temp(item.max_temp)
							td= item.pressure
							td= item.atmo_opacity
							td= item.season
							td!= format.time(item.sunrise)
							td!= format.time(item.sunset)

		include footer
		include scripts
